{% include "./includes/header.html" %}
{% load static %}
        <br><br>
        <div class="container bootdey">
            <div class="email-app mb-4">
                <nav>
                    <a href="http://127.0.0.1:8000/compose/" class="btn btn-danger btn-block">New Email</a>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/inbox/"><i class="fa fa-inbox"></i> Inbox <span class="badge badge-danger">4</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://127.0.0.1:8000/sent/"><i class="fa fa-rocket"></i> Sent</a>
                        </li>
                    </ul>
                </nav>
                <main class="inbox">
                        
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="message unread">
                                <a href="{% url 'message_view2' id=message.id %}">

                                    <div class="header">
                                        <span class="from">{{message.To}}</span>
                                        <span class="date">
                                        <span class="fa fa-paper-clip"></span> {{message.created_at}}</span>
                                    </div>
                                    <div class="title">
                                        {{message.subject}}
                                    </div>
                                    <div class="description">
                                        {{message.body}}
                                    </div>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </main>
            </div>
            </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <script>
    function startListening(recognition, endCallback, resultCallback) {

    recognition.start();

    [
      'onaudiostart',
      'onaudioend',
      'onend',
      'onerror',
      'onnomatch',
      'onresult',
      'onsoundstart',
      'onsoundend',
      'onspeechend',
      'onstart'
    ].forEach(function (eventName) {
      recognition[eventName] = function (e) {
        console.log(eventName, e);
      };
    });

    recognition.onspeechend = function () {
      // document.querySelector('#start-button').innerHTML = 'Start Listening';
      endCallback()
    };
    recognition.onresult = function () {
      // document.querySelector('#demo-echo').textContent = event.results[0][0].transcript;
      // resultCallback((event.results[0][0].transcript).replace(/ /g, ''));
      resultCallback(event.results[0][0].transcript)
    };

    // document.querySelector('#start-button').innerHTML = 'Listening...';

    // recognition.onend = function() {
    // 	document.querySelector('#start-button').innerHTML = 'Start Listening';
    // };
    // recognition.onresult = function() {
    // 	document.querySelector('#demo-echo').textContent = event.results[0][0].transcript;
    // };
  };

</script>



<script>

function total_messages(arr, index){

        if(index < arr.length){
            responsiveVoice.speak(("You have sent an email to "+arr[index]['message']+" on "+arr[index]['date']+". Do you want to read this email"), 'UK English Female', {
             onend: function () {
             startListening(recognition,
                    function () {
                      responsiveVoice.speak('please wait a moment')
                    },
                    function (result) {
                      // alert(result)
                      var result = result.replace(/ /g, '').toLowerCase()
                       if(result=="yes"){
                               window.location.replace("http://127.0.0.1:8000/%5E"+arr[index]['id']+"/message_view2/")
                       }else{
                                total_messages(arr, index+1)
                       }
                    }
             )
             }
             })

        }else{

               window.location.replace("http://127.0.0.1:8000/inbox/")


        }
}

function menu3(recognition, task, location){

         console.log("here")
         responsiveVoice.speak(("Do you want to "+task), 'UK English Female', {
         onend: function () {
         startListening(recognition,
                function () {
                  responsiveVoice.speak('please wait a moment')
                },
                function (result) {
                  // alert(result)
                  var result = result.replace(/ /g, '').toLowerCase()
                   if(result=="yes"){
                          window.location.replace(location)

                    }else{

                            arr = []

                            {% for message in messages %}
                                   mess = "{{message.To}}"
                                   date = "{{message.created_at}}"
                                   id = "{{message.id}}"
                                   arr.push({"message":mess, "id":id, "date":date})

                            {% endfor %}

                            console.log(arr)
                            total_messages(arr, 0)



                    }
                }
                )
         }
         })


}
function menu2(recognition, task, location){

         responsiveVoice.speak(("Do you want to "+task), 'UK English Female', {
         onend: function () {
         startListening(recognition,
                function () {
                  responsiveVoice.speak('please wait a moment')
                },
                function (result) {
                  // alert(result)
                  var result = result.replace(/ /g, '').toLowerCase()
                   if(result=="yes"){
                          window.location.replace(location)

                    }else{

                          menu3(recognition, "compose an email", "http://127.0.0.1:8000/compose/")


                    }
                }
                )
         }
         })


}
function menu(recognition, task, location){
         responsiveVoice.speak(("Do you want to "+task), 'UK English Female', {
         onend: function () {
         startListening(recognition,
                function () {
                  responsiveVoice.speak('please wait a moment')
                },
                function (result) {
                  // alert(result)
                  var result = result.replace(/ /g, '').toLowerCase()
                   if(result=="yes"){
                          window.location.replace(location)

                    }else{

                          menu2(recognition, "check inbox", "http://127.0.0.1:8000/inbox/")

                    }
                }
                )
         }
         })


}
             var recognition = new (webkitSpeechRecognition || SpeechRecognition)();
            recognition.lang = 'en-US';
            recognition.interimResults = false;
            recognition.maxAlternatives = 1;

             var username = "{{request.session.logged_in.username}}"
             var count = "{{messages.count}}"
             responsiveVoice.speak(("Welcome "+username), 'UK English Female', {
             onend: function () {
                    responsiveVoice.speak(("You have "+count+" messages in sent items"), 'UK English Female', {
                    onend: function () {

                        menu(recognition, "logout", "http://127.0.0.1:8000/logout/")
                    }

                    })
             }

             })

</script>

    </body>
</html>